.subredditsContainer {
    margin-top: 3.2rem;
    display: inline-flex;
    flex-direction: column;
    width: 30%;
}

.subredditCard {
    width: 90%;
    margin: 0.3rem;
    background-color: #fefbf6;
    border: 0.05rem solid;
    border-radius: 0.9rem;
    padding: 0.3rem;
    text-align: center;
}

.subredditCard:hover {
    background-color: #eee;
    cursor: pointer;
}

.subredditCard:active {
    color: #c7c8cc;
}
